/* Global */
body, body.ms-windows { background-color: #303030!important; }
.footer { background: #303030!important; }
#header { background: #181818; border-bottom: 0; }

p { color: #fff; }
hr { visibility: hidden; }
input, input:focus { border-color: transparent; color: #fff; }
.global-nav .people .count .count-inner { border: 2px solid #303030; }
.global-nav-inner { background-color: #181818; }
.message { background-color: #181818; }
.message .message-text { color: #fff; }
.modal { border-radius: 0; }
.stream-end, .stream-end-inner { background: transparent; border: 0; }
.keyboard-shortcuts .modal-table th, .keyboard-shortcuts .modal-table td { color: #fff; }
.keyboard-shortcuts .modal-table .shortcut-label { color: #ccc; }

.btn {
  border-radius: 5px;
  border: 0;
  border-color: transparent;
}

.btn, .btn:hover, .primary-btn, .primary-btn:hover { transition: all 200ms ease; }
.btn:hover, .primary-btn:hover { transform: translateY(-0.3em); }

/* Settings */
.DashboardProfileCard { background: #282828; }
.app .content strong { color: #fff; }
.app .creator { color: #ccc; }
.app .creator a { color: #3498db; }
.form-horizontal .control-label, .radio, .checkbox { color: #fff; }
.wrapper-settings .header-inner h2, #user-data-dashboard #content-main-heading { color: #fff; }
.settings-header, .t1-label { color: #fff; }
.find-friends-list b { color: #fff; }
.find-friends-list li {background-color: transparent; }
.find-friends-list li:hover { background-color: #181818; }
h4.find-friends-top-subheader, h4.find-friends-bottom-subheader { color: #fff; }
.content-header .subheader, .app-password .description { color: #fff; }
.MutedKeywordsFooter-emptyMessage { color: #fff; }
.form-horizontal input, .form-horizontal select {
  background: #353535;
  border: 0;
  color: #fff;
}
#user-data-dashboard .account-history .controls>div, .t1-form {
  color: #fff;
}
.module .active .list-link { background: #181818; color: #fff; }
.module .list-link:hover { background: #252525; }
.module .list-link {
  background: transparent;
  color: #fff;
  border: 0;
}
.input-block {
  color: #fff;
  background: #181818;
}
.FacebookConnect-title { color: #fff; }
.account, .tweet, .app { border-bottom: 0; }
.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.MutedKeywordsFooter {
  background-color: #303030;
  border: 0;
}
.modal-body p { color: #fff; }
.content-inner {
  border-left: 0;
  border-right: 0;
}
.PlayableMedia-title { color: #fff; }
.PlayableMedia-description, .PlayableMedia--vine .PlayableMedia-externalUrl { color: #ccc; }
.content-inner.no-stream-end, .find-friends-sources,
li.stream-item.highlighted,
.find-friends-top-subheader, .find-friends-bottom-subheader {
  background-color: #353535;
  border-radius: 0;
  border-bottom: 0;
}
.ActivityItem { border-bottom: 0; }
.content-header .header-inner, .content-no-header .no-header-inner {
  background: #181818;
  border-radius: 0;
  border-bottom: 0;
}

/* Tweets */
span[data-query-source="hashtag_click"] b { color: #fff; }
span[class="twitter-atreply pretty-link js-nav"] b, span[class="twitter-atreply pretty-link js-nav"] s { color: #3498db; }
.rich-editor em { background: #e74c3c; }
.tweet-counter { text-shadow: none; font-weight: bold; color: #2ecc71; }
.tweet-counter.warn { color: #f1c40f; }
.tweet-counter.superwarn { color: #e74c3c; }
.RetweetDialog-footer { background-color: #282828; }
.modal-container.tweet-showing .modal-tweet { background-color: #282828; }
.RetweetDialog-commentBox { background-color: #232323; }
#global-tweet-dialog .modal-tweet .tweet:hover, #global-tweet-dialog .modal-tweet .tweet { background-color: #282828; transition: all 300ms ease; }
#global-tweet-dialog.tweet-showing .modal-header { border-bottom: 0; }
.ThreadedConversation-moreReplies { background-color: #181818; }
.ThreadedConversation-showMoreThreadsButton { background: #181818; }
.ThreadedConversation, .ThreadedConversation-moreReplies:after { border-bottom: 0; }
.inline-reply-tweetbox { background-color: #303030; }
.permalink .inline-reply-tweetbox { border-radius: 0; border-top: 0; }
.ThreadedConversation, .ThreadedConversation--loneTweet { margin: 0; }

.Gallery-content, .PermalinkOverlay-spinnerContainer {
  background-color: rgba(48, 48, 48, 0.5);
}

.icon-btn.enabled {
  background: transparent;
  border-width: 2px;
}

.PollingCardComposer {
  background-color: #282828;
  box-shadow: none;
  border-radius: 0 0 0 0;
}

.tweet-form.is-cardComposerOn .TweetBoxAttachments, .tweet-form.has-thumbnail .TweetBoxAttachments { border: 0; }
.PollingCardComposer-option div.PollingCardComposer-optionInput { background: #303030; }

.geo-query-location {
  background: #181818;
  border-bottom: 0;
  border-radius: 0;
}
.dropdown-menu .geo-query-location input[type=text] { background: transparent; }
.tweet-box input[type=text] { border-color: transparent; }
.tweet-form .thumbnail-container .thumbnail-wrapper { background: #282828; }
.tweet-form .thumbnail-container { border-radius: 0 0 0 0; }

.recap-header {
  border-bottom: 0;
  color: #fff;
}
.stream-item+.stream-item.separated-module:not(.no-header-background-module) {
  border-top: 0;
}
#global-tweet-dialog .modal-header {
  border-bottom: 0;
  background-color: #181818;
}

.RichEditor .typeahead {
  background-color: #353535;
}

.RichEditor {
  border: 0;
  background: transparent!important;
}

.modal-header {
  border-radius: 0 0 0 0;
  background: #181818;
  border-bottom: 0;
}

.modal-body {
  background: #282828;
  color: #fff;
  border-radius: 0;
}

.modal-footer {
  background: #303030;
  border-top: 0;
  text-align: center;
}

#global-tweet-dialog .modal-tweet-form-container {
  background-color: #282828;
  color: #fff;
}

.tweet-btn {
  color: #fff;
  border: 0;
  transition: all 200ms ease;
}

.tweet-btn:hover {
  transition: all 200ms ease;
  transform: translateY(-0.3em);
  color: #fff;
}

.modal-header .modal-title { color: #fff!important; }
.tweet { background-color: #282828; transition: all 300ms ease; }
.fullname, .GalleryTweet .account-group .fullname, .GalleryTweet .account-group:hover .fullname { color: #fff; }
.tweet .js-tweet-text { color: #fff; }
.stats .stat-count a { color: #fff; }
.TwitterCard-container--clickable:hover {
  background-color: #282828;
}

.QuoteTweet-container {
  background-color: #303030;
}

.QuoteTweet-fullname, .TwitterCard .SummaryCard-content .TwitterCard-title {
  color: #fff;
}
.QuoteTweet-text, .TwitterCard .SummaryCard--small .SummaryCard-content p {
  color: #eee;
}

.conversation-module .conversation-tweet-item .tweet:hover, .tweet:hover {
  background-color: #303030;
  transition: all 300ms ease;
  border-bottom: 0;
}

.inline-reply-tweetbox { background-color: #282828; }
.home-tweet-box, .permalink-inner {
  background-color: #181818;
}

.top-timeline-tweetbox .timeline-tweet-box { border: 0; }
.new-tweets-bar, .new-tweets-bar:hover {
  color: #fff;
  background-color: #323232;
}

.PermalinkOverlay .permalink-tweet { background-color: #282828 }

/* Moment */
.MomentMakerPage-content {
  background-color: #181818;
}

.MomentsPage.MomentsPermalinkPage .AppContent, .MomentsPage.MomentMakerPage .AppContent {
  background-color: #303030;
}

.MomentMakerCapsuleCover {
  background: #282828;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.MomentCapsuleEditableMeta-title .rich-editor, .MomentCapsuleEditableMeta-description .rich-editor {
  color: #fff;
  background: #242424;
}

.MomentMakerCapsuleCover-empty, .MomentCapsuleSummary--portrait .MomentCapsuleSummary-title {
  background-color: transparent;
  color: #fff;
}

.MomentsPage.MomentsGuidePage .Footer, .MomentsPage.MomentsPermalinkPage .Footer {
  margin-bottom: -10px;
}

.MomentMakerRecommendations-title {
  color: #fff;
  background-color: #282828;
}

.MomentFloatingMenu .MomentButton:last-child {
  color: #fff;
}

.MomentFloatingMenu {
  border: 0;
  background-color: #2ecc71;
}

.MomentMakerRecommendations {
  background-color: #303030;
}

.MomentMakerRecommendedCategories {
  background-color: #181818;
  border-radius: 10px;
}

.MomentCapsuleCover-title {
  color: #fff;
}

.MomentMakerRecommendations-module {
  background: transparent;
  border: 0;
}

.MomentCapsuleItemTweet--withText {
  background: #282828;
}

.MomentUserByline-fullname {
  color: #fff;
}

.MomentMakerRecommendations-more {
  background-color: #181818;
  color: #fff;
  border-top: 0;
  border-radius: 10px;
}

.MomentMakerRecommendations-scrollTopButton {
  background: #181818;
  border: 0;
  color: #fff;
}

/* List */
.GridTimeline-emptyText { color: #fff; }
.ProfileListsTimeline .GridTimeline-end:not(.has-items) {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}


/* Notifications */
.NotificationsHeadingContent {
  background-color: #181818;
  border-bottom: 0;
  border-radius: 0 0 0 0;
}

.ActivityItem:not(.has-clickAction) .QuoteTweet--slim:hover { background: transparent; }
.QuoteTweet--slim .QuoteTweet-text b { color: #fff; }

.QuoteTweet-text .pretty-link s, .QuoteTweet-text .pretty-link b {
  color: #fff;
}

div.ActivityItem-displayText.js-actionable-user {
  color: #fff;
}

.content-header, .content-no-header {
  border: 0;
  border-radius: 0 0 0 0;
}

/* Dropdown Menus */
.Trends .trend-location, .wtf-module h3 { color: #fff; }

.dropdown.open .dropdown-menu {
  background-color: #303030;
}

.DashUserDropdown.dropdown-menu li>a, .DashUserDropdown.dropdown-menu button {
  color: #fff;
}

.DashUserDropdown.dropdown-menu li>a, .DashUserDropdown.dropdown-menu li>a:hover { transition: all 250ms ease; }

.DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink {
  width: 100%;
  text-align: center;
}

.DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:hover { background: #181818; }

.DashUserDropdown-userInfo {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.nav li a, .dropdown button.dropdown-link {
  color: #fff;
}

.dropdown-caret .caret-inner {
  border-bottom: 9px solid #303030;
  border-bottom-color: #303030;
}

/* Text Box / Search */
.top-timeline-tweetbox .timeline-tweet-box .tweet-form.condensed .tweet-box {
  color: #fff;
  background-color: #282828;
  border-radius: 0;
}

.typeahead .fullname, .typeahead strong {
  color: #fff;
}

.global-nav .search-input {
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: #303030;
}

.typeahead-category-title {
  color: #fff;
}

.form-search .typeahead {
  color: #fff;
  background-color: #303030;
}

.global-nav .search-input {
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: #282828;
}

.global-nav .search-input:focus {
  color: #fff;
  background-color: #353535;
}

.RichEditor, .TweetBoxAttachments {
  border-color: transparent;
  border: 0;
}

/* Hover Cards */
#profile-hover-container {
  background-color: transparent;
}

.hovercard.profile-card .ProfileCard-content .FollowStatus {
  text-align: center;
  color: #fff;
  background-color: #2ecc71;
}

p.ProfileCard-bio {
  color: #ccc;
}

.hovercard.profile-card .profile-card-listName {
  margin-top: 5px;
  border-top: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.fullname .ProfileNameTruncated-link .u-textInheritColor .js-nav, .u-textTruncate {
  color: #fff;
}

.hovercard.profile-card .ProfileCard-content, .ProfileCardStats,
.hovercard.profile-card {
  background-color: #252525;
  color: #fff;
}

/* Side Boxes */
.DashboardProfileCard-name {
  color: #fff;
}

.LiveVideoHomePageModule-eventTitle { color: #eee; }

.DashboardProfileCard-avatarLink {
  background-color: transparent;
}

.ListCreationModule-title, .ListCreationModule-description { color: #fff; }
.ListCreationModule {
  background-color: #282828;
  border: 0;
  border-radius: 0;
}

.module .flex-module {
  background-color: #282828;
}

.Trends {
  background-color: #282828;
  border: 0;
  border-radius: 0;
}

.DashboardProfileCard-content {
  background-color: #282828;
}

.wtf-module .import-prompt, .Footer .Footer-adsModule {
  background: #242424!important;
}

.dashboard h3 {
  color: #fff;
}

.stream-item:not(.no-header-background-module) {
  background-color: #282828;
}

/* User Profile */
.ProfileCanopy-navBar, .ProfileNav-item--userActions {
  background-color: #252525;
}

.ProfileHeaderCard, .ProfileHeaderCard span {
  color: #fff!important;
}

.ProfilePage.is-editing .ProfilePage-editingOverlay {
  background-color: #000!important;
}

.BirthdateSelect-button {
  background-color: #303030!important;
}

.ProfilePage-cancelButton, .ProfilePage-cancelButton:hover, .ProfilePage-saveButton, .ProfilePage-saveButton:hover {
  transition: all 250ms ease;
}

.ProfilePage-cancelButton {
  background: #e74c3c;
  color: #fff;
  border: 0;
}

.ProfilePage-saveButton {
  border: 0;
  background-color: #2ecc71;
  color: #fff;
}

.ProfilePage-saveButton:hover { background-color: #27ae60; }
.ProfilePage-cancelButton:hover { background-color: #c0392b; }

.ProfileCard-bg {
  border-bottom: 0;
}

.ProfileClusterFollow {
  background-color: #181818;
  border-bottom: 0;
}

.Grid--withGutter>.Grid-cell { background: transparent!important; }

.ProfileClusterFollow-title { color: #fff; }

.ProfileNameTruncated .UserBadges .Icon {
  padding-left: 2px;
}

.FollowStatus {
  color: #fff!important;
  font-weight: bold!important;
  padding: 3px!important;
  background-color: rgba(46, 204, 113, 0.5)!important;
  margin: 0.3em!important;
}

.ProfileCard {
  background-color: #181818;
  border: 0;
  border-radius: 0;
}

.ProfileHeaderCard-name, .ProfileHeaderCard-bio, .ProfileHeaderCard-birthdateText, .ProfileHeaderCard-joinDateText, .ProfileHeaderCard-locationText,
.ProfileHeaderCard-onlineHoursText, .ProfileHeaderCard-responsivenessLevelText, .ProfileHeaderCard-urlText,
.ProfileHeaderCard-vineProfileText, .ProfileHeaderCard-periscopeProfileText {
  color: #fff;
}

.ProfileSidebar .TweetImpressionsModule, .ProfileSidebar .ProfileLifelineInfo,
.ProfileSidebar .RelatedUsers, .ProfilePage .AppContent, .WhoToFollow.is-visible,
.ProfileHeading-content {
  background-color: #282828;
  border: 0;
  border-radius: 0;
}

.ProfileSidebar .flex-module-header h3 {
  color: #fff;
}

.ProfileHeading-toggleItem.is-active {
  color: #fff;
}

.TweetImpressionsModule-heading {
  color: #fff;
  font-weight: bold;
}

.u-floatLeft, .u-floatRight {
  color: #fff;
}

.u-bgUserColorLightest, .u-bgUserColorLighter {
  background-color: #181818!important;
}

.u-borderUserColorLight {
  border-color: transparent!important;
}

input#user_name, input#user_location, input#user_url {
  color: #fff;
}

.u-borderUserColorLight, .u-borderUserColorLightFocus:focus,
.u-borderUserColorLightHover:hover, .u-borderUserColorLightHover:focus,
.RichEditor div[contenteditable], .RichEditor div[contenteditable]:focus,
.RichEditor div[contenteditable].fake-focus {
  background-color: #282828;
  color: #fff;
}

.UserActions-editButton {
  background: #3498db;
  color: #fff;
  border: 0;
  transition: all 200ms ease;
}

.UserActions-editButton:hover {
  transition: all 200ms ease;
  transform: translateY(-0.3em);
  background: #2980b9;
  color: #fff;
}

/* GIF Search */
.FoundMediaSearch-query {
  background-color: #181818;
  background-image: none;
  border: 0;
  border-radius: 0;
}
.FoundMediaSearch-query input[type=text].FoundMediaSearch-queryInput { background-color: #303030; }
.FoundMediaSearch-focusable { border: 3px solid rgba(0, 0, 0, 0.01); }

/* Direct Messages */
.DMActivity-title { color: #fff; }
.DMActivity-header {
  background-color: #181818;
  border-radius: 0;
  border-bottom: 0;
}

.DirectMessage--received .DirectMessage-text {
  background: #181818;
}

.DMComposer-container {
  background: transparent;
}

.DMDivider { background-color: #282828; color: #eee; }
.DMActivity-body { background-color: #282828; }
.RichEditor.RichEditor--emojiPicker div[contenteditable] {
  background-color: #282828;
  color: #fff;
}

.EmojiPicker-query {
  background-image: none;
  background-color: #181818;
  border-radius: 0;
  border-bottom: 0;
}
.EmojiPicker-query input[type=text].EmojiPicker-queryInput {
  background: transparent;
  color: #fff;
}
.EmojiPicker-categoryHeader {
  border-bottom: 0;
  color: #ddd;
}
.EmojiPicker-diversityRow { border-top: 0; }

.u-borderUserColorLighter, .RichEditor.is-fakeFocus { border-color: transparent!important; box-shadow: none!important; }
.DMConversation-composer { border-top: 0; box-shadow: inset 0 0 0 rgba(0,0,0,.1); }
.DirectMessage--received .Caret:before { border-color: #181818; }
.DMTypeaheadHeader { color: #fff; }
.DirectMessage--received .DirectMessage-message { background-color: #181818; }
.DMConversation-scrollContainer { background-color: #282828; }
.DMDialogTypeahead { background-color: #282828; }
.DMButtonBar { background-color: #303030; }


.TokenizedMultiselect-inputContainer {
  border: 0;
  border-radius: 0;
}
.TokenizedMultiselect-input, .TokenizedMultiselect-input:focus {
  color: #fff;
  background-color: #353535;
}
.DMTokenizedMultiselectSuggestion { border: 0; }
.DMTokenizedMultiselectSuggestion.is-highlighted {
  background-color: #303030;
  border: 0;
}
.DMInboxItem {
  background-color: #272727!important;
  border-bottom: 0;
}
.DMInboxItem:hover {
  background-color: #303030!important;
  text-decoration: none;
}

/* Follow Button */
.UserSmallListItem .user-actions-follow-button button, .UserSmallListItem .user-actions-follow-button button:hover { transition: all 250ms ease;     }
.UserSmallListItem .user-actions-follow-button button { background: #303030; }
.UserSmallListItem .user-actions-follow-button button:hover { background: #404040; }

.follow-btn.small-follow-btn {
  background: #2ecc71;
}
.following .follow-btn, .following .follow-button, .following .follow-btn:hover, .following .follow-button:hover {
  transition: all 300ms ease;
}

/* Search Results */
.AdaptiveFiltersBar { background-color: #181818; }
.AdaptiveFiltersBar-target--link { color: #fff; }
.AdaptiveSearchPage .AppContent { background-color: #303030; }
.AdaptiveSearchPage-moduleTitle { color: #fff; }
.AdaptiveRelatedSearches { background: #282828; border: 0; }
.AdaptiveRelatedSearches { background: #282828; border: 0; }
.AdaptiveNewsRelatedHeadlines { background: #282828; border: 0; }
.AdaptiveNewsRelatedHeadlines-title { color: #ddd; }
.AdaptiveNewsLargeImageHeadline-body { background: #181818; border: 0; }
.AdaptiveNewsLargeImageHeadline-title { color: #fff; }
.AdaptiveNewsHeadlineDetails-user:hover { color: #fff; }
.AdaptiveNewsLargeImageHeadline .AdaptiveSearchPage-moduleHeader { margin-top: 15px; }

.WhoToFollow-title { color: #fff; }
.SidebarFilterModule.is-collapsed {
  background-color: #181818;
  border: 0;
  border-radius: 0;
}
.AdaptiveSearchTimeline .stream .stream-item:first-child {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.AdaptiveSearchTimeline .stream .stream-item:first-child .tweet {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

/* Just madness border removed */
.permalink-inner .permalink-tweet-container, .stream-end-inner, .PermalinkOverlay .permalink-tweet,
.module .flex-module, .TwitterCard-container--clickable {
  border-radius: 0 0 0 0;
}

.permalink.has-replies .inline-reply-tweetbox, .home-tweet-box, .permalink-inner,
.new-tweets-bar, .new-tweets-bar:hover, .stream-item:not(.no-header-background-module),
.permalink .stream-end-inner, .stream-fotter, .tweet .stats, .permalink .replies-to .tweet, .tweet,
.DashboardProfileCard-content, .DashboardProfileCard, .DashboardProfileCard-bg, .module .flex-module,
.TwitterCard-container--clickable, .QuoteTweet {
  border: 0;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.permalink, .permalink:hover {
  border: 0;
  border-radius: 0;
}

.permalink .in-reply-to .stream-item:first-child .tweet:hover {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.permalink .inline-reply-tweetbox {
  background-color: #303030;
}

/* Analytics */
.SharedNavBar--analytics {
  color: #fff;
  background: #181818;
  border-bottom: 0;
}

.ProfileHeader .ProfileHeader-name { color: #fff; }
.ProfileHeader { background: #181818; }

.home-group-header {
  background: #181818;
  text-align: center;
}

.home-pagesummary .DataPoint .DataPoint-info { color: #fff; }

.home-subtitle, .home-panel-title, .home-summary-panel .DataPoint-info,
.home-panel-content .tweet-container .tweet-details .tweet-text, .home-panel-info-insight,
.tweet-container .tweet-details .tweet-profile-link:hover .tweet-name, .tweet-container .tweet-details .tweet-name {
  color: #fff;
}

li.SharedNavBar-navItem .SharedNavBar-textButton, li.SharedNavBar-navItem>a {
  color: #fff;
}

.SharedNavBar--analytics li.SharedNavBar-navItem.is-active>a, .SharedNavBar--analytics li.SharedNavBar-navItem>a:focus,
.SharedNavBar--analytics li.SharedNavBar-navItem>a:hover, .SharedNavBar--analytics li.SharedNavBar-navItem>a:visited {
  color: #fff;
}

/* Authorize page */
.auth h2 { color: #fff; }
.permissions li { color: #ccc; }
.permissions.allow strong { color: #2ecc71; }
.permissions.deny strong { color: #e74c3c; }
.oauth #bd { border: 0; }
#session h2 a { background: transparent; }
.footer { background: #303030; }
#session h2 img { border: 0; }
#header .logo a { border-bottom: 0; }
.app-info h3 img { border: 0; }
#bd .app-info h3 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.action-information {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}

#oauth_pin p {
  background-color: #181818;
  color: #fff;
  text-align: center;
}

#oauth_pin code {
  color: #fff;
  font-family: monospace;
}

.EdgeButton--secondary {
    background: #303030;
}

.EdgeButton--secondary:hover {
    background: #404040;
}

/* Permalink Container */

.tweet .stats .js-stat-count a {
    padding: 13px 10px;
}

.tweet .stats li:first-child a {
    padding-left: 13px;
}

.tweet .stats .js-stat-count {
    margin-right: 0;
    background: #333;
}

.tweet .stats {
    background: #222;
    border-radius: 4px;
}

.hovercard .arrow, .dropdown-divider {
    background-color: #282828;
    border-color: #282828;
}

.ThreadedConversation-showMoreThreads {
    border-color: #222;
}

.permalink .stats .avatar-row a:first-child {
    border: none;
}

.QuoteTweet-container {
    background-color: #303030;
    border-radius: 4px;
}

.stream .tweet:hover {
    background-color: #282828;
}

.stats .stat-count strong {
    color: #999;
}

.Icon.Icon--large.Icon--logo{
    color: #fff;
}

.permalink-container {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.3);
}

.hovercard.profile-card .ProfileCard-avatarLink, .ProfileCard-content {
    background-color: transparent;
}

.hovercard.profile-card .ProfileCard-avatarImage{
    border: none;
}

.js-macaw-cards-iframe-container iframe {
    border-radius: 4px;
}

.ProfileHeaderCard span.Icon--verified {
    color: #1da1f2 !important;
}

/* Polls */

html, body:not([class]) {
    background-color: transparent!important;
}

.TwitterCard .PollXChoice-optionContainer span {
    font-family: "Segoe UI",Arial,sans-serif;
    color: #fff;
    font-weight: bold;
}

.TwitterCard .EdgeButton--secondary, .TwitterCard .EdgeButton--secondary.PollXChoice-hideButton {
    background-color: #1DA1F2;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #fff;
}

.TwitterCard [class*="PollXChoice-footer--"] {
    font-family: "Segoe UI",Arial,sans-serif;
}

.TwitterCard .PollXChoice-choice--selected {
    filter: brightness(10);
}

.TwitterCard .PollXChoice-optionContainer:first-child {
    margin-top: 2px;
}

.TwitterCard .PollXChoice-choice {
    margin-left: 5px;
}

.TwitterCard .PollXChoice-choice--radio {
    background-color: #ddd;
    border-color: #999 !important;
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--input:checked+.PollXChoice-choice--radio {
    border-color: #0ea669 !important;
}

.TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--chart {
    background: #222;
}

/* Compose */

#global-tweet-dialog .modal-tweet-form-container, #Tweetstorm-dialog .modal-body {
    background: #222;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#global-tweet-dialog-dialog {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.3);
    border-radius: 4px;
}

#global-tweet-dialog .modal-header, #Tweetstorm-dialog .modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.stream-end-item, .stream-end, .stream-loading, .stream-placeholder {
    border: none;
}

.wtf-module .UserSmallListItem, .wtf-module .import-prompt .cta {
    border-color: #222;
}

.WtfLargeCarouselStreamItem-title {
    color: #ddd;
}

.PromptbirdPrompt--inline, .PromptbirdPrompt--inlinePointer {
    border-color: #222;
    background-color: #222;
}

.PromptbirdPrompt-title {
    color: #fff;
}

.PromptbirdPrompt-streamItem.separated-module+.stream-item:not(.no-header-background-module) {
    border-color: #222;
}

.stream-item.separated-module+.stream-item:not(.no-header-background-module) {
    border-color: transparent;
}

.ProfileAvatar {
    background-color: transparent;
    border-color: transparent;
}
