$dark-highlight: #181818;
$dark-primary: #212121;
$dark-secondary: #282828;
$dark-tertiary: #303030;
$dark-quaternary: #353535;

$green: #2ecc71;
$red: #e74c3c;

$darkgreen: #27ae60;
$darkred: #c0392b;

$blue: #3498db;
$darkblue: #2980b9;

$yellow: #f1c40f;

$white: #fff;
$dark-white: #ccc;

$black: #000;
