.SharedNavBar--analytics {
  background: $dark-highlight !important;
  border-bottom: 0 !important;
  color: $white !important;
}

.main-page-header {
  background-color: $dark-secondary;
  border-color: $dark-highlight;

  h1 {
    color: $white;
  }
}

#tweet-impression-header .headline, #tweet-impression-sidebar .analysis-body,
.tweet-container .tweet-details .tweet-text, #tweet-activity-container .tweet-activity-data {
  color: $white;
}

#tweet-impression-header .headline-highlight {
  color: $blue;
}

#tweet-activity-container .tweet-activity-tweet-group:hover {
  background-color: $dark-quaternary;
}

.ProfileHeader {
  background: $dark-highlight;

  .ProfileHeader-name { color: $white; }
}

.home-group-header {
  background: $dark-highlight;
  text-align: center;
}

.home-pagesummary .DataPoint .DataPoint-info { color: $white; }

.home-subtitle, .home-panel-title, .home-summary-panel .DataPoint-info,
.home-panel-content .tweet-container .tweet-details .tweet-text, .home-panel-info-insight,
.tweet-container .tweet-details .tweet-profile-link:hover .tweet-name, .tweet-container .tweet-details .tweet-name {
  color: $white;
}

li.SharedNavBar-navItem .SharedNavBar-textButton, li.SharedNavBar-navItem>a {
  color: $white;
}

.SharedNavBar--analytics li.SharedNavBar-navItem.is-active>a, .SharedNavBar--analytics li.SharedNavBar-navItem>a:focus,
.SharedNavBar--analytics li.SharedNavBar-navItem>a:hover, .SharedNavBar--analytics li.SharedNavBar-navItem>a:visited {
  color: $white;
}

body[data-promote-url] {
  background-color: $dark-secondary;
  color: $white;
}

.ep-Header, .ep-TweetPerformance.ep-Section .ep-EngagementsTable .ep-EngagementsTableHeader {
  border-color: $dark-highlight;
}

.ep-Header .ep-Title, .ProfileTweet-fullname, .ep-Signup .ep-SignupTextContainer .ep-SignupText,
.ep-Signup .ep-SignupTextContainer .ep-RefreshText, .ep-TweetPerformance.ep-Section .ep-Metric .ep-MetricTopContainer,
.ep-TweetPerformance.ep-Section .ep-EngagementsTable .ep-EngagementsTableHeader {
  color: $white !important;
}

.ep-Campaign .ep-CampaignContainer {
  background-color: $dark-tertiary;
  border: 1px $dark-highlight solid;
  color: $white;
}

.MomentAnalyticsDialog-card .MomentCapsuleSummary--small, .MomentAnalyticsDialog-disclaimer {
  border-color: $dark-highlight;
}

.MomentAnalyticsData-entryName, .MomentAnalyticsData-entryValue {
  color: $white;
}
