@import '../assets/colours';
@import '../assets/animation';

.auth h2 { color: #fff; }
.permissions {
  li { color: #ccc; }

  &.allow strong { color: $green; }
  &.deny strong { color: $red; }
}

.oauth {
  #bd { border: 0; }
  .buttons #allow, .buttons #cancel {
    @include transition('all 250ms ease');
    &:hover { @include transition('all 250ms ease'); }
  }

  .buttons #allow { background: $green; &:hover { background: $darkgreen; } }
  .buttons #cancel { background: $red; &:hover { background: $darkred; } }
}

.notice {
  border: 0;
  border-radius: 0;

  &.error {
    background: $red;
    border-color: none;
    h2 { color: #fff; }
  }
}

#session h2 a { background: transparent; }
.footer { background: $dark-tertiary; }
#session h2 img { border: 0; }
#header .logo a { border-bottom: 0; }
.app-info h3 img { border: 0; }
#bd .app-info h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.action-information {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

#oauth_pin {
  p {
    background-color: $dark-highlight;
    color: #fff;
    text-align: center;
  }

  code {
    color: #fff;
    font-family: monospace;
  }
}

.EdgeButton--secondary {
  background: $dark-secondary;

  &:hover { background: $dark-quaternary; }
}
