@import '../assets/colours';

.DMActivity-title { color: #fff; }
.DMActivity-header {
  background-color: $dark-highlight;
  border-bottom: 0;
  border-radius: 0;
}

.DirectMessage--received .DirectMessage-text {
  background: $dark-highlight;
}

.DirectMessage-location, .DirectMessage-card {
  background: transparent !important;
}

.DMComposer-container {
  background: transparent;
}

.DMDivider { background-color: $dark-secondary; color: #eee; }
.DMActivity-body { background-color: $dark-secondary; }
.RichEditor.RichEditor--emojiPicker div[contenteditable] {
  background-color: $dark-secondary;
  color: #fff;
}

.EmojiPicker-query {
  background-color: $dark-highlight;
  background-image: none;
  border-bottom: 0;
  border-radius: 0;

  input[type=text].EmojiPicker-queryInput {
    background: transparent;
    color: #fff;
  }
}

.EmojiPicker-categoryHeader {
  background-color: $dark-secondary;
  border-bottom: 0;
  color: #ddd;
}

.EmojiPicker-diversityRow { border-top: 0; }

.u-borderUserColorLighter, .RichEditor.is-fakeFocus,
.DMComposer-container.u-borderUserColorLighter {
  border-color: transparent !important;
  box-shadow: none !important;
}

.DMConversation-composer { border-top: 0; box-shadow: inset 0 0 0 rgba(0, 0, 0, .1); }
.DirectMessage--received .Caret::before { border-color: $dark-highlight; }
.DMTypeaheadHeader { color: #fff; }
.DirectMessage--received .DirectMessage-message { background-color: $dark-highlight; }
.DMConversation-scrollContainer { background-color: $dark-secondary; }
.DMDialogTypeahead { background-color: $dark-secondary; }
.DMButtonBar { background-color: $dark-tertiary; }


.TokenizedMultiselect-inputContainer {
  border: 0;
  border-radius: 0;
}

.TokenizedMultiselect-input, .TokenizedMultiselect-input:focus {
  background-color: $dark-quaternary;
  color: #fff;
}

.DMTokenizedMultiselectSuggestion {
  border: 0;

  &.is-highlighted {
    background-color: $dark-tertiary;
    border: 0;
  }
}

.DMInboxItem {
  background-color: $dark-secondary !important;
  border-bottom: 0;

  &:hover {
    background-color: $dark-tertiary !important;
    text-decoration: none;
  }
}
