.Trends .trend-location, .wtf-module h3 { color: $white; }

.dropdown.open .dropdown-menu {
  background-color: $dark-tertiary;
}

.DashUserDropdown.dropdown-menu {
  li>a, button {
    @include transition('all 250ms ease');
    color: $white;
    &:hover { @include transition('all 250ms ease'); }
  }

  .DashUserDropdown-userInfoLink {
    text-align: center;
    width: 100%;
  }

  .DashUserDropdown-userInfoLink:hover { background: $dark-highlight !important; }
}

.DashUserDropdown-userInfo {
  margin: 0;
  padding: 0;
}

.nav li a, .dropdown button.dropdown-link {
  color: $white;
}

.dropdown-caret .caret-inner {
  border-bottom: 9px solid $dark-tertiary;
  border-bottom-color: $dark-tertiary;
}

.dropdown-menu .dropdown-link { color: $white; }

.nav .session .dropdown-toggle {
  background: transparent;
  border-radius: 0;
  padding-top: 5px;

  &::before {
    box-shadow: 0;
  }
}
