@import '../assets/colours';
@import '../assets/animation';

body, body.ms-windows { background-color: $dark-tertiary !important; }
.footer { background: $dark-tertiary !important; }
#header { background: #181818; border-bottom: 0; }

p { color: #fff; }
hr { visibility: hidden; }
input, input:focus { border-color: transparent; color: #fff; }
.global-nav .people .count .count-inner { border: 0; }  // scss-lint:disable SelectorDepth
.global-nav-inner { background-color: #181818; }

.message {
  background-color: #181818;

  .message-text { color: #fff; }
}

.modal { border-radius: 0; }
.stream-end, .stream-end-inner { background: transparent; border: 0; }
.keyboard-shortcuts .modal-table th, .keyboard-shortcuts .modal-table td { color: #fff; }
.keyboard-shortcuts .modal-table .shortcut-label { color: #ccc; }

.btn, .primary-btn {
  @include transition('all 200ms ease');
  @include transform(translateY(-.3em));
  border: 0;
  border-color: transparent;
  border-radius: 5px;

  &:hover {
    @include transition('all 200ms ease');
    @include transform(translateY(-.3em));
  }
}

.permalink-inner .permalink-tweet-container, .stream-end-inner, .PermalinkOverlay .permalink-tweet,
.module .flex-module, .TwitterCard-container--clickable {
  border-radius: 0;
}

.DashboardProfileCard-avatarImage { border: 0; }
.DashboardProfileCard .ProfileCardStats {
  border-top: 1px #ccc solid;
  margin-top: 5px;
  padding-top: 5px;
}

.DashboardProfileCard-userFields {
  left: 0;
  padding-left: 100px;
  top: 100px;
  width: 190px;
}

.permalink.has-replies .inline-reply-tweetbox, .home-tweet-box, .permalink-inner,
.new-tweets-bar, .new-tweets-bar:hover, .stream-item:not(.no-header-background-module),
.permalink .stream-end-inner, .stream-fotter, .tweet .stats, .permalink .replies-to .tweet, .tweet,
.DashboardProfileCard-content, .DashboardProfileCard, .DashboardProfileCard-bg, .module .flex-module,
.TwitterCard-container--clickable, .QuoteTweet {
  border: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.permalink {
  border: 0;
  border-radius: 0;

  &:hover {
    border: 0;
    border-radius: 0;
  }

  .in-reply-to .stream-item:first-child .tweet:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .inline-reply-tweetbox { background-color: $dark-tertiary; }
}

// Follow button
.UserSmallListItem .user-actions-follow-button button,
.UserSmallListItem .user-actions-follow-button button:hover {
  @include transition('all 250ms ease');
}

.UserSmallListItem .user-actions-follow-button button { background: $dark-tertiary; }
.UserSmallListItem .user-actions-follow-button button:hover { background: $dark-quaternary; }

.follow-btn.small-follow-btn { background: $green; }

.following .follow-btn, .following .follow-button,
.following .follow-btn:hover, .following .follow-button:hover {
  @include transition('all 300ms ease');
}
