html, body, body.ms-windows { background: $dark-tertiary !important; }
#header { background: $dark-highlight; border-bottom: 0; }
.footer { background: $dark-tertiary !important; }

p { color: $white; }
hr { visibility: hidden; }
input, input:focus { border-color: transparent; color: $white; }

.global-nav .people .count .count-inner { border: 0; }  // scss-lint:disable SelectorDepth
.global-nav-inner { background-color: $dark-highlight; }

.message {
  background-color: $dark-highlight;
  .message-text { color: $white; }
}

.TopNav {
  background: $dark-highlight;
  box-shadow: none;
  span { color: $white; }
}

.modal { border-radius: 0; }
.stream-end, .stream-end-inner { background: transparent; border: 0; }

.keyboard-shortcuts .modal-table {
  th, td { color: $white; }
  .shortcut-label { color: $dark-white; }
}

.btn, .primary-btn {
  @include transition('all 200ms ease');
  @include transform(translateY(-.3em));
  border: 0;
  border-color: transparent;
  border-radius: 5px;

  &:hover {
    @include transition('all 200ms ease');
    @include transform(translateY(-.3em));
  }
}

.permalink-inner .permalink-tweet-container, .stream-end-inner, .PermalinkOverlay .permalink-tweet,
.module .flex-module, .TwitterCard-container--clickable {
  border-radius: 0;
}

.DashboardProfileCard-avatarImage { border: 0; }
.DashboardProfileCard .ProfileCardStats {
  border-top: 1px #ccc solid;
  margin-top: 5px;
  padding-top: 5px;
}

.DashboardProfileCard-userFields {
  left: 0;
  padding-left: 100px;
  top: 100px;
  width: 190px;
}

.permalink.has-replies .inline-reply-tweetbox, .home-tweet-box, .permalink-inner,
.new-tweets-bar, .new-tweets-bar:hover, .stream-item:not(.no-header-background-module),
.permalink .stream-end-inner, .stream-fotter, .tweet .stats, .permalink .replies-to .tweet, .tweet,
.DashboardProfileCard-content, .DashboardProfileCard, .DashboardProfileCard-bg, .module .flex-module,
.TwitterCard-container--clickable, .QuoteTweet {
  @extend %remove-any-border;
}

.permalink {
  border: 0;
  border-radius: 0;

  &:hover {
    border: 0;
    border-radius: 0;
  }

  .in-reply-to .stream-item:first-child .tweet:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .inline-reply-tweetbox { background-color: $dark-tertiary; }
}

// Just buttons
.EdgeButton {
  border: 0;
  border-radius: 5px;
}

.EdgeButton--tertiary { background: $dark-primary; }

// Follow button
.UserSmallListItem .user-actions-follow-button {
  button {
    @include transition('all 250ms ease');
    background: $dark-tertiary;

    &:hover {
      @include transition('all 250ms ease');
      background: $dark-quaternary;
    }
  }
}

.follow-btn.small-follow-btn { background: $green; }

.following {
  .follow-btn, .follow-button {
    @include transition('all 300ms ease');
    &:hover { @include transition('all 300ms ease'); }
  }
}

// Error page
.errorpage-topbar {
  .errorpage-global-nav-inner { background: $dark-highlight; }
}

.errorpage-body-content {
  .search-404 {
    #search_q, .errorpage-btn {
      background: $dark-primary;
      border-radius: 0;
      color: $white;
    }
  }
}
