.NotificationsHeadingContent {
  background-color: $dark-highlight;
  border-bottom: 0;
  border-radius: 0;
}

.ActivityItem:not(.has-clickAction) .QuoteTweet--slim:hover { background: transparent; }
.QuoteTweet--slim .QuoteTweet-text b { color: $white; }

.QuoteTweet-text .pretty-link s, .QuoteTweet-text .pretty-link b {
  color: $white;
}

.ActivityItem-displayText {
  color: $white;
}

.ActivityItem.has-clickAction {
  @include transition('all 200ms ease');

  &:hover {
    @include transition('all 200ms ease');
    background: $dark-highlight;
  }
}

li.stream-item.highlighted {
  &.highlighted { background-color: $dark-quaternary; }
}

.content-header, .content-no-header {
  border: 0;
  border-radius: 0;
}
