@import '../assets/colours';

.js-app.application {
  .app-header { background-color: $dark-highlight; }
  .column-nav-item, .app-navigator, .app-title { background: transparent; }
  .attach-compose-buttons .tweet-button {
    background: $dark-primary !important;
  }

  .js-dropdown {
    background: $dark-primary;
    color: #fff;

    .non-selectable-item {
      color: darken(#fff, 10) !important;
    }

    .caret-inner {
      border-bottom-color: $dark-primary;
    }

    .is-selectable, a {
      color: #fff !important;
      transition: .3s;
    }

    .is-selected {
      background-color: $dark-secondary;
    }

    .drp-h-divider {
      border-color: #14171a;
    }
  }

  .app-navigator {
    .bg-color-twitter-lightest-gray {
      background-color: $dark-primary !important;
    }
  }

  .js-account-manager-container {
    background-color: $dark-primary;
  }

  .btn.btn-primary {
    background-color: $dark-tertiary !important;
    transform: translateY(0);

    &:hover {
      background-color: $dark-quaternary !important;
      transform: translateY(0);
    }
  }
}

.mdl, .mdl .bg-color-twitter-white {
  background-color: $dark-secondary !important;
}

.js-modal-content {
  .prf-meta {
    background-color: $dark-primary !important;
    border-top-color: $dark-highlight !important;

    .prf-stats li + li a {
      border-left-color: $dark-highlight !important;
    }

    a strong {
      color: #fff !important;
    }
  }

  .social-proof-container, .js-profile-columns {
    background-color: $dark-secondary !important;
  }
}

.js-popover {
  background-color: $dark-secondary !important;

  .list-item {
    color: #fff !important;
  }

  input, select {
    border-color: $dark-highlight !important;
    color: #fff !important;
  }

  .caret-inner {
    border-bottom-color: $dark-secondary !important;
  }
}


.needs-scroll-bottom-offset.scroll-styled-h {
  bottom: 0 !important;
}

.js-app-columns-container.app-columns-container {
  background-color: $dark-tertiary !important;

  input, select, textarea {
    background: $dark-tertiary !important;
    border-color: $dark-highlight;
    color: #fff;
    transition: .3s !important;

    &:hover, &:active {
      background-color: $dark-quaternary !important;
    }
  }

  .detail-view-inline, .detail-view-inline-text { background-color: $dark-secondary; }
  .column-header, .scroll-conversation {
    background-color: $dark-secondary;
    border-bottom: 0;
  }

  .inline-reply, .compose-text-container { background: $dark-primary; }
  textarea.compose-text {
    background: $dark-highlight;
    color: #fff;
  }

  .js-stream-item-content {
    background: $dark-secondary;
    transition: all 300ms ease;
    &:hover { background-color: $dark-tertiary; }
    .tweet { background: transparent; }
  }

  .tweet-detail-wrapper .js-stream-item-content:hover { background: $dark-secondary; }

  .js-column-options-container {
    background: $dark-secondary;

    .facet-type {
      background: inherit;
      border-color: #14171a;
    }

    .button-tray {
      background: inherit;
      border-color: #14171a;
    }
  }
}

.tweet-detail-actions { border-color: $dark-highlight !important; }

.detail-view-inline {
  background: $dark-secondary !important;
  border-color: $dark-highlight !important;

  .detail-view-inline-text {
    background-color: $dark-secondary !important;
    border-color: $dark-highlight !important;
    color: #fff !important;
  }
}

.js-inline-reply .compose-text-container {
  background-color: $dark-secondary !important;

  textarea {
    background-color: inherit !important;
    color: #fff !important;
  }
}

.js-account-remove-check { background: $dark-highlight; }
.js-column-holder .column-scroller { background: $dark-highlight !important; }

.js-search-form {
  background: $dark-highlight !important;

  input { background: $dark-secondary !important; }
}

.js-docked-compose {
  background: $dark-primary !important;
  .compose-reply-tweet { background: $dark-secondary !important; }
  .compose-text-container, .compose-text, .js-compose-message-recipient-input-container, .js-compose-message-account {
    background: $dark-tertiary !important;
    color: #fff !important;
  }

  .compose-message-recipient {
    background-color: $dark-quaternary !important;
    border-color: $dark-highlight !important;
    color: #fff !important;
  }

  .btn-on-blue {
    background-color: $dark-tertiary !important;

    &:hover {
      background-color: $dark-quaternary !important;
    }
  }
}

.js-account-manager-container.column-panel {
  background: $dark-primary;

  .bg-color-twitter-white, .js-account-settings-row, .drawer-header {
    background: transparent;
    border-bottom: 0;
    border-top: 0;
  }

  .icon { color: #1da1f2; }
  .drawer-header-title { color: #fff; }
  .color-twitter-dark-black, .color-twitter-darker-gray { color: #ddd; }

  .account-settings-bb {
    border-color: $dark-highlight !important;
  }

  .drawer-header, .account-settings-bb {
    border-color: $dark-highlight !important;
  }

  .account-row-separator-b::after {
    background-color: $dark-highlight !important;
  }
}

.js-contributor-manager-container {
  .link-complex {
    border-color: transparent !important;
  }

  .drawer-header {
    border-color: $dark-highlight !important;
  }

  input {
    background-color: $dark-secondary;
    border-color: $dark-highlight !important;
    color: #fff !important;
  }
}

.bg-color-twitter-lightest-gray {
  background: $dark-primary !important;

  .bg-color-twitter-white {
    background-color: $dark-secondary !important;
  }
}

.js-modal-panel.mdl {
  background-color: transparent;

  .mdl-header-title { color: #fff; }
  .mdl-header {
    background-color: $dark-highlight;
    border-bottom: 0;
  }

  .mdl-inner { background-color: $dark-secondary;}
  span, .icon-close { color: #fff; }

  .lst-launcher a {
    &:hover {
      background: $dark-highlight;
    }
  }

  .mdl-column-med {
    background-color: $dark-tertiary;
  }

  .mdl-column-rhs {
    background-color: $dark-secondary;
    border-color: $dark-highlight;
  }

  .mdl-col-settings {
    background-color: $dark-secondary;
    border-color: $dark-highlight;
  }

  .js-column-header {
    border-color: $dark-highlight;
  }

  .mdl-content {
    background-color: transparent;
    border-color: $dark-highlight;
  }

  .stream-item {
    background-color: $dark-secondary !important;
    border-color: $dark-highlight !important;
  }

  .list-account {
    text-shadow: none !important;

    &:hover {
      background-color: $dark-quaternary !important;
    }

    .fullname {
      color: darken(#fff, 5);
    }
  }

  input, select {
    background-color: $dark-secondary;
    border-color: $dark-highlight !important;
    color: #fff !important;
  }

  &.is-inverted-dark .column-header {
    border-color: $dark-highlight !important;
  }
}

.TwitterCard[data-card-client="tweetdeck"] {
  .TwitterCard-container .SummaryCard-content {
    background-color: $dark-primary;
    transition: .3s;
  }

  .TwitterCard-container:hover .SummaryCard-content {
    background-color: $dark-highlight;
  }
}

.js-column-nav-menu-flyover .column-nav-item {
  background-color: $dark-highlight !important;
}

.Notification {
  &-icon {
    background-color: $green !important;
  }

  &--red &-icon {
    background-color: $red !important;
  }

  &-content {
    background-color: $dark-tertiary !important;
    border-color: $dark-highlight !important;
  }

  &-body {
    color: #fff !important;
  }
}

.is-inverted-dark, .is-inverted-dark .list-link {
  color: #fff !important;
}
