@import '../assets/colours';
@import '../assets/animation';

span[data-query-source="hashtag_click"] b { color: $white; }
span[class="twitter-atreply pretty-link js-nav"] b, span[class="twitter-atreply pretty-link js-nav"] s { color: $blue; }
.rich-editor em { background: $red; }

.tweet-counter {
  color: $green;
  font-weight: bold;
  text-shadow: none;

  &.warn { color: $yellow; }
  &.superwarn { color: $red; }
}

#activity-popup-dialog .modal-header, .modal-content {
  background: $dark-highlight !important;
}

.self-thread-permalink-cta {
  background: $dark-secondary;
}

.activity-popup-dialog-users .account, .activity-popup-dialog-in-reply-to-user .account {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

.not-following {
  .follow-button {
    background: $dark-tertiary;
    border-radius: 5px;
  }

  .EdgeButton--secondary { background: transparent !important; }
}

#global-tweet-dialog {
  .modal-tweet .tweet, .modal-tweet .tweet:hover {
    background-color: $dark-primary !important;
    transition: all 300ms ease;
  }

  .modal-tweet-form-container {
    background-color: $dark-secondary;
    color: $white;
  }

  &.tweet-showing .modal-header { border-bottom: 0 !important; }

  .modal-header {
    background-color: $dark-highlight;
    border-bottom: 0;
  }
}

.Gallery-content {
  .Gallery-media { background: $dark-highlight !important; }

  &:hover .tweet { background: $dark-highlight; }

  .tweet {
    background: transparent !important;
    &:hover { background: $dark-highlight; }
  }

  .stream-item-footer {
    background: $dark-highlight !important;
    border-top: 0;
  }
}

.RetweetDialog-footer { background-color: $dark-secondary; }
.modal-container.tweet-showing .modal-tweet { background-color: $dark-secondary; }
.RetweetDialog-commentBox { background-color: $dark-secondary; }
.ThreadedConversation-showMoreThreadsButton, .ThreadedConversation-showMoreThreads { background: $dark-highlight; }
.ThreadedConversation, .ThreadedConversation-moreReplies::after { border-bottom: 0; }
.inline-reply-tweetbox { background-color: $dark-secondary; }

.permalink {
  background: $dark-primary;
  border: 0;

  .ThreadedConversation--selfThread {
    &:not(:last-child) { margin-bottom: 0; }
  }

  .stats .avatar-row a:first-child { border: 0; }
  .inline-reply-tweetbox, .inline-reply-tweetbox-container {
    background-color: $dark-primary !important;
    border-radius: 0;
    border-top: 0;
  }
}

.tweet-form div.rich-editor.is-showPlaceholder, .tweet-form div.rich-editor:empty {
  &::before { color: $white; }
}

.Tombstone {
  background: transparent;
  border: 0;
  border-radius: 0;

  span {
    color: $red;
    font-weight: bold;
  }

  button {
    background: $red;
    border-radius: 4px;
    color: $white;
    padding: .5em 1em;
  }
}

.ThreadedConversation, .ThreadedConversation--loneTweet { margin: 0; }
.PlayableMedia-container { border: 0; }

.ThreadedConversation--header {
  background-color: $dark-secondary;
  border-bottom: 0;
  border-top: 0;
  color: $white;
  margin-top: 0;
}

.ThreadedConversation-moreReplies { background-color: $dark-secondary; }
.ThreadedConversation-unavailableTweet {
  background-color: $darkred;

  .ThreadedConversation-unavailableText {
    color: $white;

    &::after { content: ':('; }
  }
}

.Gallery-content, .PermalinkOverlay-spinnerContainer {
  background-color: rgba(48, 48, 48, .5);
}

.icon-btn.enabled {
  background: transparent;
  border-width: 2px;
}

.PollingCardComposer {
  background-color: $dark-secondary;
  border-radius: 0;
  box-shadow: none;
}

.tweet-form.is-cardComposerOn .TweetBoxAttachments, .tweet-form.has-thumbnail .TweetBoxAttachments { border: 0; }
.PollingCardComposer-option div.PollingCardComposer-optionInput { background: $dark-tertiary; }

.geo-query-location {
  background: $dark-highlight;
  border-bottom: 0;
  border-radius: 0;
}

.dropdown-menu .geo-query-location input[type=text] { background: transparent; }
.tweet-box input[type=text] { border-color: transparent; }
.tweet-form .thumbnail-container {
  border-radius: 0;
  .thumbnail-wrapper { background: $dark-secondary; }
}

.recap-header {
  border-bottom: 0;
  color: $white;
}

.stream-item+.stream-item.separated-module:not(.no-header-background-module) {
  border-top: 0;
}

.RichEditor {
  background: transparent !important;
  border: 0;

  .typeahead { background-color: $dark-quaternary; }
}

.modal-header {
  background: $dark-highlight;
  border-bottom: 0;
  border-radius: 0;

  .modal-title { color: $white !important; }
}

.modal-body {
  background: $dark-secondary;
  border-radius: 0;
  color: $white;
}

.modal-footer {
  background: $dark-tertiary;
  border-top: 0;
  text-align: center;
}

.tweet-btn {
  @include transition('all 200ms ease');
  border: 0;
  color: $white;

  &:hover {
    @include transition('all 200ms ease');
    @include transform(translateY(-.3em));
    color: $white;
  }
}

.tweet {
  @include transition('all 300ms ease');
  background-color: $dark-secondary;

  .metadata { color: $dark-white; }

  .js-tweet-text { color: $white; }
  .stats {
    border-radius: 4px;

    .js-stat-count {
      margin-right: 0;

      a { padding: 13px 10px; } // scss-lint:disable NestingDepth
    }

    li:first-child a { padding-left: 13px; }
  }
}

.fullname, .GalleryTweet .account-group .fullname, .GalleryTweet .account-group:hover .fullname { color: $white !important; }
.stats .stat-count a { color: $white; }
.TwitterCard-container--clickable:hover {
  background-color: $dark-secondary;
}

.QuoteTweet-container {
  background-color: $dark-tertiary;
  border-radius: 4px;
}

.QuoteTweet-fullname, .TwitterCard .SummaryCard-content .TwitterCard-title {
  color: $white;
}

.QuoteTweet-text, .TwitterCard .SummaryCard--small .SummaryCard-content p { color: #eee; }

.conversation-module .conversation-tweet-item .tweet:hover, .tweet:hover {
  @include transition('all 300ms ease');
  background-color: $dark-tertiary;
  border-bottom: 0;
}

.home-tweet-box, .permalink-inner {
  background-color: $dark-highlight;
}

.top-timeline-tweetbox {
  .timeline-tweet-box { border: 0; }
  .tweet-form.condensed .tweet-box {
    background-color: $dark-secondary;
    border-radius: 2px;
    color: $white;
  }
}

.TweetBox-photoIntent {
  .photo-selector {
    right: -5px;
    top: 3px;
  }
}

.new-tweets-bar {
  @include transition(all 200ms ease);
  background-color: $dark-highlight;
  color: $white;

  &:hover { background-color: $dark-primary; }
}

.PermalinkOverlay .permalink-tweet { background-color: $dark-secondary; }

// Polls
html, body:not([class]):not([data-promote-url]) {
  background-color: transparent !important;
}

.TwitterCard {
  [class*="PollXChoice-footer--"] { font-family: "Segoe UI", Arial, sans-serif; }
  .PollXChoice-choice--selected { filter: brightness(10); }

  .EdgeButton--secondary, .EdgeButton--secondary.PollXChoice-hideButton {
    background-color: $blue;
    color: $white;
    font-family: "Segoe UI",Arial,sans-serif;
  }

  .PollXChoice-choice { margin-left: 5px; }
  .PollXChoice-choice--radio {
    background-color: $dark-white;
    border-color: #999 !important;
  }

  .PollXChoice-optionContainer {
    &:first-child { margin-top: 2px; }
    .PollXChoice-choice--chart { background: #222; }
    .PollXChoice-choice--input:checked+.PollXChoice-choice--radio { border-color: #0ea669 !important; }

    span {
      color: $white;
      font-family: "Segoe UI", Arial, sans-serif;
      font-weight: bold;
    }
  }
}

// Compose
#global-tweet-dialog, #Tweetstorm-dialog {
  .modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .modal-tweet-form-container, .modal-body {
    background: #222;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

#global-tweet-dialog-dialog {
  border-radius: 4px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .3);
}

.stream-end-item, .stream-end, .stream-loading, .stream-placeholder {
  border: 0;
}

.wtf-module .UserSmallListItem, .wtf-module .import-prompt .cta {
  border-color: #222;
}

.WtfLargeCarouselStreamItem-title {
  color: $dark-white;
}

.PromptbirdPrompt--inline, .PromptbirdPrompt--inlinePointer {
  background-color: #222;
  border-color: #222;
}

.PromptbirdPrompt-title {
  color: $white;
}

.PromptbirdPrompt-streamItem.separated-module+.stream-item:not(.no-header-background-module) {
  border-color: #222;
}

.stream-item {
  &.dismissed { border-bottom: 0; }
  &.no-header-background-module .dismiss-module {
    background: $dark-primary;
    border-left: 0;
    border-right: 0;
  }

  &.separated-module+.stream-item:not(.no-header-background-module) {
    border-color: transparent;
  }
}

.dismiss-module .feedback-action {
  border-bottom: 0;
  color: $white;
}

.ProfileAvatar {
  background-color: transparent;
  border-color: transparent;
}

// Permalink container
.hovercard .arrow, .dropdown-divider {
  background-color: $dark-secondary;
  border-color: $dark-secondary;
}

.hovercard.profile-card {
  .ProfileCard-avatarImage { border: 0; }
  .ProfileCard-avatarLink, .ProfileCard-content { background-color: transparent; }
}

.ThreadedConversation-showMoreThreads { border-color: #222; }
.stream .tweet:hover { background-color: $dark-secondary; }
.stats .stat-count strong { color: #999; }

.Icon.Icon--large.Icon--logo { color: $white; }
.permalink-container { box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .3); }
.js-macaw-cards-iframe-container iframe { border-radius: 4px; }
.ProfileHeaderCard span.Icon--verified { color: #1da1f2 !important; }
